:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

input, select, button {
  font-family: inherit;
  font-size: 1rem;
}

table {
  border-spacing: 0;
}
